[submodule "third_party/xcmath"]
	path = third_party/xcmath
	url = https://github.com/X-ChenD-Hai/xcmath.git
[submodule "third_party/imgui-node-editor"]
	path = third_party/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
